<div id="INFORMACION">
    <div class="container">
        <h1 class="animate__animated animate__backInLeft">INFORMACIÓN DE LA PÁGINA</h1>
        <section class="container">
            <div class=" row ">
                <div class="col-sm-4 col-md-4 col-lg-6">
                    <div class="dat_texto">
                        <h3>
                            Datos personales
                        </h3>
                        <p class="animate__animated animate__zoomInDown">
                            <hr>Nombre: Ronald RM
                            <hr>Fecha de nacimiento: 10/08/2004
                            <hr>Universidad donde estudia: Universidad Técnica de Machala
                            <hr>Colegio de donde proviene: Colegio de bachillerato Nueve de Octubre
                            <hr>Semestre que cursa: Sexto
                            <hr>Paralelo: B
                            <hr>
                    </div>

                </div>
                <div class="col-sm-4 col-md-3 col-lg-6">
                    <p class="animate__animated animate__zoomInDown">
                        En el dinámico mundo de YouTube, los creadores de contenido no son solo figuras en pantalla; son íconos de creatividad, entretenimiento y autenticidad. Desde los vibrantes sets de sus estudios caseros hasta los rincones más remotos del planeta, estos narradores digitales comparten sus pasiones y conocimientos con millones de seguidores. Aquí, cada video es una ventana a nuevas aventuras, desafíos y momentos memorables que inspiran, educan o simplemente hacen reír.</p>
                </div>

            </div>
        </section>
    </div>
</div>