<div id="INFORMACION">
    <div class="container">
        <h1 class="animate__animated animate__backInLeft">INFORMACIÓN DE LA PÁGINA</h1>
        <section class="container">
            <div class=" row ">
                <div class="col-sm-4 col-md-4 col-lg-6">
                    <div class="dat_texto">
                        <h3>
                            Datos personales
                        </h3>
                        <p class="animate__animated animate__zoomInDown">
                            <hr>Nombre: Ronald Morocho
                            <hr>Fecha de nacimiento: 10/08/2004
                            <hr>Universidad donde estudia: Universidad Técnica de Machala
                            <hr>Colegio de donde proviene: Colegio de bachillerato Nueve de Octubre
                            <hr>Semestre que cursa: Quinto
                            <hr>Paralelo: B
                            <hr>
                    </div>

                </div>
                <div class="col-sm-4 col-md-3 col-lg-6">
                    <p class="animate__animated animate__zoomInDown">
                        En el vibrante mundo de los cómics, los héroes no son solo personajes; son símbolos de valor, justicia y esperanza. Desde las dinámicas calles de ciudades ficticias hasta los exóticos confines del universo, estos guardianes de la moral defienden el bien
                        contra todas las formas de mal. Aquí, cada viñeta es una ventana a épicas batallas, intrigas profundas y la eterna lucha entre el bien y el mal. Sumérgete en historias donde el coraje se enfrenta al caos y la aventura nunca termina.
                        Bienvenidos al universo donde los héroes cobran vida y las leyendas se forjan en cada página.</p>
                </div>
                <div class="col-sm-4 col-md-5 col-lg-6">
                    <div class="animate__animated animate__zoomInDown"> <img src="assets/img/igAVG.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>